// ==============================================================
//		articles
// ==============================================================

#home_articles {

	article {
		position: relative

		footer {
			position: relative;
		}

		footer .article_author_image {
			display: inline-block;
			position: relative;
			top: -20px;
			left: 20px;
			
			img {
				border: 2px solid white;
				@include border-radius(50%);
			}
		}
	}
}

// ==============================================================
//		news
// ==============================================================

#home_news {
	
}

// ==============================================================
//		events
// ==============================================================

#home_events {
	
}

// ==============================================================
//		member callouts
// ==============================================================

#home_member_callout {
	clear: both;	
}

// ==============================================================
//		products
// ==============================================================

#home_products {
	
}

// ==============================================================
//		offers
// ==============================================================

#home_offers {
	
}

// ==============================================================
//		recipes
// ==============================================================

#home_recipes {
	clear: both;
}

.recipe_image {

}

// ==============================================================
//		subscribe
// ==============================================================