// ==============================================================
//		folders
// ==============================================================

$img: "../../img";

// ==============================================================
//		colours
// ==============================================================

// base
$primary_color: #0088b2;
$secondary_color: #333;

// header
$logo_bg: white;
$taskbar_bg: #f1f1f1;
$navigation_bg: $primary_color;

// navigation
$menu_items: white;
$nav_padding: 16px 23px;

// ==============================================================
//		fonts
// ==============================================================

// ==============================================================
//		margins and padding
// ==============================================================

// ==============================================================
//		Susy grid settings
// ==============================================================

$total-columns  : 12;
$column-width   : 4em;  
$gutter-width   : 1em;      
$grid-padding   : $gutter-width; 
@include border-box-sizing;